[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
pythonnet = "*"
pandas = "*"
networkx = "*"
matplotlib = "*"
selenium = "*"
pandas-stubs = "~=3.0.0"
requests = "*"
dotenv = "*"

[dev-packages]
bandit = "*"

[requires]
