[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfiglet = "*"
pyserial = "*"
pythonnet = "*"
pandas = "*"
networkx = "*"
matplotlib = "*"
selenium = "*"

[dev-packages]
bandit = "*"

[requires]
